@model IEnumerable<VacationRequestListingViewModel>

<h2 class="text-center mt-5">My Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th> Status</th>
            <th>Days</th>
            <th>Reject reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@request.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@request.Status</td>
                <td>@request.Vacationdays</td>
                <td>@request.RejectReason</td>
            </tr>
        }
    </tbody>
</table>
